.background {
    margin: 0 auto;
    background: #F5FFFA;
    max-width: 1230px;
    padding: 20px 50px;
}

.header {
    margin: 0 auto;
    padding: 20px 15px;
}

.header__inner {
    width: 18%;
}

a .header__logo{
    text-decoration: none;
}

img {
    width: 100%;
}



