.content {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.content__shop {
    width: 45%;
    margin: 25px auto;
}

.content__shop-name {
    display: flex;
    margin-top: 20px 0;
}

.shop__back {
    background-color: #fff;
    border: none;
    line-height: 20px;
    box-shadow: 2px 2px 4px grey;
    align-items: baseline;
    margin-right: 20px;
    width: 40px;
}

.shop_name {
    font-size: 40px;
    font-weight: bold;
    padding-left: 10px;
    align-items: center;
    line-height: 20px;
}

.content__shop-img img{
    width: 100%;
    margin-top: 20px;
}

.content__shop-info {
    display: flex;
    margin-top: 10px;
}

.content__area {
    font-weight: bold;
    padding-right: 10px;
}

.content__category {
    font-weight: bold;
}

.content__text {
    font-weight: bold;
}

.content

.content__reservation {
    position: relative;
    width: 550px;
    background-color: #4169e1;
    box-shadow: 2px 2px 4px grey;
    border-radius: 5px;
    height: 600px;
}

.reservation__form {
    width: 100%;
    padding: 30px;
}

.reservation__ttl {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
}

.form__date {
    background: #fff;
    width: 35%;
    border: none;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.form__time {
    background: #fff;
    width: 100%;
    border: none;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.form__number {
    background: #fff;
    width: 100%;
    border: none;
    height: 25px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.form__index {
    background: #6495ED;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 145px;
}

.index__shop {
    display: flex;
    height: 40px;
    margin-left: 15px;
}

.index__shop-ttl {
    color: #fff;
    width: 100px;
    line-height: 1;
}

.index__shop-text {
    color: #fff;
    width: 100px;
    line-height: 1;
}

.form__button {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 550px;
    background-color: #0000CD;
    color: #fff;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 0 0 5px 5px;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    font-size: 2rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked~label {
    color: #ffca08;
}

.star-rating label:hover,
.star-rating label:hover~label,
.star-rating input[type="radio"]:checked~label:hover,
.star-rating input[type="radio"]:checked~label:hover~label {
    color: #ffca08;
}

.comment_form {
    width: 400px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
}

.review_button {
    margin-top: 10px;
    cursor: pointer;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.2;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}





